.menu{
    list-style: none;
  
    font-size: 1.3rem;
    font-weight: 800;
    padding: .5rem;
    color: hsl(233, 8%, 62%);
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #20232a;
}
.menu li{
    margin-left: 1rem;
}
.marg{
    margin-left: 6rem;
}
.margin{
    margin-left: 10rem;
}
.img{
    height: 30px;
    width: 30px;
}
.spn{
    color: #61dafb;
    font-size: large;
   

}
.image{
    margin-top: 1.5rem;
    margin-left: 0rem;
}