.box{
    display: flex;
    flex-direction: column;
    
   
    background-color: rgb(40, 44, 52);
    justify-content: center;
}
.heading-color{
    color: aqua;
    justify-content: center;

}
.title{
    color: white;
}
.butondiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: aliceblue;
    margin-bottom: 2rem;
}
.head{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-top: 2rem;
}
.button{
    width: 8rem;
    height: 3rem;
    color: black;
    background-color: aqua;
    font-size: larger;
    margin-right: 2rem;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.btnpart{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.h3{
    color: aqua;
}