.main{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    border-color: black;
}
.main-box{
    width: 22rem;
    margin-left: 4rem;
    border-color:black ;


}
h2{
    color: hsl(233, 8%, 62%);
}